<div class="dashboard-container">
  <div class="dashboard-content">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Create New Organization</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form (ngSubmit)="createOrganization()">
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="newOrganization.name" name="name" required>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput [(ngModel)]="newOrganization.description" name="description" required></textarea>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Street</mat-label>
            <input matInput [(ngModel)]="newOrganization.street" name="street" required>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>City</mat-label>
            <input matInput [(ngModel)]="newOrganization.city" name="city" required>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Zip Code</mat-label>
            <input matInput [(ngModel)]="newOrganization.zipCode" name="zipCode" required>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Country</mat-label>
            <input matInput [(ngModel)]="newOrganization.country" name="country" required>
          </mat-form-field>

          <button mat-flat-button class="action-button" color="primary" type="submit">Create Organization</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
