<div class="dashboard-container">
  <div class="dashboard-content">
    <h2>Visits</h2>

    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter()" [(ngModel)]="filterValue" placeholder="Ex. John">
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let visit">{{visit.date | date:'dd-MM-yyyy'}}</td>
      </ng-container>

      <ng-container matColumnDef="patient">
        <th mat-header-cell *matHeaderCellDef>Patient</th>
        <td mat-cell *matCellDef="let visit">{{visit.patient.firstName}} {{visit.patient.lastName}}</td>
      </ng-container>

      <ng-container matColumnDef="createdBy">
        <th mat-header-cell *matHeaderCellDef>Created By</th>
        <td mat-cell *matCellDef="let visit">{{visit.user.role}} - {{visit.user.firstName}} {{visit.user.lastName}}</td>
      </ng-container>

      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef>Details</th>
        <td mat-cell *matCellDef="let visit">
          <button mat-flat-button class="action-button" type="button" color="primary" (click)="viewVisitDetails(visit.id)">Details</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of visits">
    </mat-paginator>
  </div>
</div>
