<div class="login-container">
  <mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <form (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
          <mat-label>Email*</mat-label>
          <input matInput type="email" [(ngModel)]="email" name="email" required>
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password*</mat-label>
          <input matInput [type]="hidePassword ? 'password' : 'text'" [(ngModel)]="password" name="password" required>
          <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword" type="button">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <a href="#" class="forgot-password">Forget Password?</a>
        <button mat-raised-button color="primary" type="submit">Login</button>
      </form>
    </mat-card-content>
    <mat-card-footer>
      <span *ngIf="errorMessage" class="error-message">{{ errorMessage }}</span>
    </mat-card-footer>
  </mat-card>
</div>
