<div class="profile-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Change Password</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
          <mat-label>Current Password</mat-label>
          <input matInput type="password" formControlName="currentPassword" required>
          <mat-error *ngIf="passwordForm.get('currentPassword')?.hasError('required')">Current password is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>New Password</mat-label>
          <input matInput type="password" formControlName="newPassword" required>
          <mat-error *ngIf="passwordForm.get('newPassword')?.hasError('required')">New password is required</mat-error>
          <mat-error *ngIf="passwordForm.get('newPassword')?.hasError('minlength')">New password must be at least 6 characters long</mat-error>
          <mat-error *ngIf="passwordForm.get('newPassword')?.hasError('passwordStrength')">
            Password must contain:
            <ul>
              <li *ngIf="passwordForm.get('newPassword')?.errors?.['passwordStrength'].hasUpperCase">An uppercase letter</li>
              <li *ngIf="passwordForm.get('newPassword')?.errors?.['passwordStrength'].hasLowerCase">A lowercase letter</li>
              <li *ngIf="passwordForm.get('newPassword')?.errors?.['passwordStrength'].hasNumeric">A number</li>
              <li *ngIf="passwordForm.get('newPassword')?.errors?.['passwordStrength'].hasNonAlphanumeric">A special character</li>
            </ul>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Confirm New Password</mat-label>
          <input matInput type="password" formControlName="confirmNewPassword" required>
          <mat-error *ngIf="passwordForm.get('confirmNewPassword')?.hasError('required')">Confirm new password is required</mat-error>
          <mat-error *ngIf="passwordForm.hasError('mismatch')">Passwords do not match</mat-error>
        </mat-form-field>

        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit" [disabled]="passwordForm.invalid">Change Password</button>
          <button mat-raised-button color="warn" type="button" (click)="cancel()">Cancel</button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>
